Options +FollowSymLinks
RewriteEngine on
#temporary redirection for the cop vocabulary
RewriteRule ^cop$ https://vroddon.github.io/cop/OnAgentogy/cop.owl/documentation/index-en.html [R=302,L]
#Rewrite rules for OnAgentogy's vocabularies
RewriteRule ^(.*) https://onagentogy.linkeddata.es/publish/$1 [R=302,L]
